@model IEnumerable<ClassViewModel>
@{
    var random = new Random();
    var ColorList = new List<string> { "primary", "secondary", "success", "info", "dark", "light", "danger", "warning" };
}
@section Style{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Cuba/css/vendors/datatables.css")">
}
@section Scripts{
    <script src="@Url.Content("~/Cuba/js/clipboard/clipboard.min.js")"></script>
    <script src="@Url.Content("~/Cuba/js/custom-card/custom-card.js")"></script>
    <script src="@Url.Content("~/Cuba/js/notify/bootstrap-notify.min.js")"></script>
    <script src="@Url.Content("~/Cuba/js/datatable/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Cuba/js/index_global.js")"></script>
    <script>
        (function () {
            "use strict";
            $('#classListTable').DataTable({ "order": [[5, 'desc']] });
            $('#classListTable').reArrangeDatatableSerialNumber();
        })(jQuery);
    </script>
}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"> <i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Academics</li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header b-r-info b-l-info border-3">
                    <h5>
                        <a asp-action="ClassManage" asp-controller="Academic">
                            <i class="fa fa-plus"></i> Add Class
                        </a>
                    </h5>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="fa fa-spin fa-cog"></i></li>
                            <li><i class="icofont icofont-maximize full-card"></i></li>
                            <li><i class="icofont icofont-minus minimize-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body" style="">
                    <div class="table-responsive">
                        <table class="hover" id="classListTable" data-type="datatable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Sections</th>
                                    <th>Active</th>
                                    <th>Modify By</th>
                                    <th>Modify date</th>
                                    <th>Added By</th>
                                    <th>Added date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            var color = ColorList.OrderBy(s => random.NextDouble()).First();
                                            var color1 = ColorList.OrderBy(s => random.NextDouble()).First();
                                            var SectionList = item.Sections.Select(s => s.NormalizedName).ToArray();
                                            var SectionListString = string.Join(",", SectionList);
                                            <tr data-key="@item.Id">
                                                <td></td>
                                                <td>@item.Name</td>
                                                <td>
                                                    <p title="@SectionListString">
                                                        @(SectionListString.Length > 15 ? SectionListString.Substring(0, 15) + "....": SectionListString)
                                                    </p>
                                                </td>
                                                <td>
                                                    <input asp-for="@item.IsActive" type="checkbox">
                                                </td>
                                                <td><a href="@Url.Action("StaffManage","Account",new { id = item.ModifyById })" class="btn btn-@(color) btn-xs">@item.ModifyBy</a></td>
                                                <td>@item.ModifyDate?.ToString("dd/MM/yyyy")</td>
                                                <td><a href="@Url.Action("StaffManage","Account",new { id = item.AddedById })" class="btn btn-@(color1) btn-xs">@item.AddedBy</a></td>
                                                <td>@item.AddedDate?.ToString("dd/MM/yyyy")</td>
                                                <td>
                                                    <a asp-action="ClassManage" asp-controller="Academic" asp-route-id="@item.Id" data-container="body" data-toggle="popover" data-placement="top" title="Edit Class" class="d-inline-block mr-1">
                                                        <i data-feather="edit-3"></i>
                                                    </a>
                                                    <a data-action="deleterow" data-actionmag="Class" asp-action="ClassDelete" asp-controller="Academic" asp-route-id="@item.Id" data-container="body" data-toggle="popover" data-placement="top" title="Delete Class" class="d-inline-block">
                                                        <i data-feather="trash-2"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



