@using FeePay.Core.Application.Interface;

@inject ICultureFormatProvider _cultureFormatProvider
@section Style{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Cuba/css/vendors/datatables.css")">
}
@section Scripts{
    <script src="@Url.Content("~/Cuba/js/datatable/datatables/jquery.dataTables.min.js")"></script>
    <script>
        (function () {
            "use strict";
            $('#feeCollectionListTable').DataTable({ "order": [[5, 'desc']] });
            $('#feeCollectionListTable').reArrangeDatatableSerialNumber();
        })(jQuery);
    </script>
}

<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"> <i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Fees</li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>

