@model FeeMasterViewModel
@{
}
@section Style{
}

@section Scripts{
    <script src="@Url.Content("~/Cuba/js/clipboard/clipboard.min.js")"></script>
    <script src="@Url.Content("~/Cuba/js/custom-card/custom-card.js")"></script>
    <partial name="_ValidationScriptsPartial" />
}


<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"> <i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Fee Management</li>
                    <li class="breadcrumb-item"><a href="@Url.Action("FeeMasterList","FeeManagement")"> Fee Master </a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <form id="managefeeMaster" asp-action="FeeMasterManage" asp-controller="FeeManagement" method="post" class="needs-validation" novalidate="">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header b-r-info b-l-info border-3">
                        <h5>
                            <a asp-action="FeeMasterList" asp-controller="FeeManagement">
                                <i class="icofont icofont-arrow-left"></i> Back To List
                            </a>
                        </h5>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa-spin fa-cog"></i></li>
                                <li><i class="icofont icofont-maximize full-card"></i></li>
                                <li><i class="icofont icofont-minus minimize-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <input asp-for="Id" type="hidden" />
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="FeeTypeId">Fee Type *</label>
                                    <select asp-for="FeeTypeId" asp-items="@(new SelectList(Model.FeeTypeList,"Value","Text",Model?.FeeTypeId))" class="form-control">
                                        <option value=""> Select </option>
                                    </select>
                                    <div class="invalid-feedback"><span asp-validation-for="FeeTypeId"></span></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="FeeGroupId">Fee Group *</label>
                                    <select asp-for="FeeGroupId" asp-items="@(new SelectList(Model.FeeGroupList,"Value","Text",Model?.FeeGroupId))" class="form-control">
                                        <option value=""> Select </option>
                                    </select>
                                    <div class="invalid-feedback"><span asp-validation-for="FeeGroupId"></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="Amount">Amount *</label>
                                    <input asp-for="Amount" type="number" class="form-control" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="DueDate">Due Date</label>
                                    <input asp-for="DueDate" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="Description">Description</label>
                                    <textarea asp-for="Description" class="form-control" type="text" placeholder="Description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="IsActive">
                                        <input class="checkbox_animated" asp-for="IsActive" type="checkbox"> Active
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group mb-0 text-right"><input type="submit" class="btn btn-success mr-3" value="Add" /></div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <div id="form-validation-summary" class="my-2 txt-danger" style="font-size: 12px;line-height: 1;letter-spacing: 0.9px;" asp-validation-summary="All"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
