@model IEnumerable<FeeGroupViewModel>
@{

}
@section Style{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Cuba/css/vendors/datatables.css")">
}
@section Scripts{
    <script src="@Url.Content("~/Cuba/js/clipboard/clipboard.min.js")"></script>
    <script src="@Url.Content("~/Cuba/js/custom-card/custom-card.js")"></script>
    <script src="@Url.Content("~/Cuba/js/notify/bootstrap-notify.min.js")"></script>
    <script src="@Url.Content("~/Cuba/js/datatable/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Cuba/js/index_global.js")"></script>
    <script>
        (function () {
            "use strict";
            $('#feeListTable').DataTable({
                columnDefs: [
                    { orderable: false, targets: [0, 3] }
                ],
                order: [[1, 'asc']],
            });
            $('#feeListTable').reArrangeDatatableSerialNumber();
        })(jQuery);
    </script>
}

<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"> <i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Fee Management</li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header b-r-info b-l-info border-3">
                    <h5>
                        <a asp-action="FeeMasterManage" asp-controller="FeeManagement">
                            <i class="fa fa-plus"></i> Add Fee Master
                        </a>
                    </h5>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="fa fa-spin fa-cog"></i></li>
                            <li><i class="icofont icofont-maximize full-card"></i></li>
                            <li><i class="icofont icofont-minus minimize-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body" style="">
                    <div class="table-responsive">
                        <table class="hover" id="feeListTable" data-type="datatable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Fees Group</th>
                                    <th>Fees Code</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr data-key="@item.Id">
                                                <td></td>
                                                <td>@item.Name</td>
                                                <td>
                                                    @{
                                                        for (int i = 0; i < item.FeeMaster.Count; i++)
                                                        {
                                                            <stan class="d-block">
                                                                @item.FeeType[i].Code : ₹ @item.FeeMaster[i].Amount
                                                                <a asp-action="FeeMasterManage" asp-controller="FeeManagement" asp-route-id="@item.FeeMaster[i].Id" data-container="body" data-toggle="popover" data-placement="top" title="Edit Fee Master" class="d-inline-block ml-3">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                                <a data-action="deleterow" data-actionmag="Fee Master" asp-action="FeeMasterDelete" asp-controller="FeeManagement" asp-route-id="@item.FeeMaster[i].Id" data-container="body" data-toggle="popover" data-placement="top" title="Delete Fee Master" class="d-inline-block">
                                                                    <i class="fa fa-trash-o"></i>
                                                                </a>
                                                            </stan>
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    <a asp-action="FeeAssign" asp-controller="FeeManagement" asp-route-id="@item.Id" data-container="body" data-toggle="popover" data-placement="top" title="Assign / View Student" class="d-inline-block mr-1">
                                                        <i data-feather="user-check"></i>
                                                    </a>
                                                    <a data-action="deleterow" data-actionmag="Fee Group" asp-action="FeeGroupDelete" asp-controller="FeeManagement" asp-route-id="@item.Id" data-container="body" data-toggle="popover" data-placement="top" title="Delete Fee Group" class="d-inline-block">
                                                        <i data-feather="trash-2"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


