@using FeePay.Core.Application.Interface.Service;
@inject ICommanDataServices CommanDataServices
@model AssignFeesViewModel
@{
    bool IsFindStudent = (Model != null && Model.StudentAdmissionList != null && Model.StudentAdmissionList.Count > 0);
    bool IsFindFeeGroup = (Model != null && Model.FeeGroup != null && Model.FeeGroup.FeeMaster != null && Model.FeeGroup.FeeMaster.Count > 0);
}
@section Style{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Cuba/css/vendors/datatables.css")">


}
@section Scripts{
    <script src="@Url.Content("~/Cuba/js/clipboard/clipboard.min.js")"></script>
    <script src="@Url.Content("~/Cuba/js/custom-card/custom-card.js")"></script>
    <script src="@Url.Content("~/Cuba/js/notify/bootstrap-notify.min.js")"></script>
    <script src="@Url.Content("~/Cuba/js/datatable/datatables/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Cuba/js/index_setting.js")"></script>
    <script src="@Url.Content("~/Cuba/js/index_global.js")"></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="@Url.Content("~/Page_js/school/index_feesassign.js")"></script>
}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"> <i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Fee Management</li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header b-r-info b-l-info border-3">
                    <h5>
                        <a asp-action="FeeMasterList" asp-controller="FeeManagement">
                            <i class="fa fa-arrow-left"></i> Go back
                        </a>
                    </h5>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="fa fa-spin fa-cog"></i></li>
                            <li><i class="icofont icofont-maximize full-card"></i></li>
                            <li><i class="icofont icofont-minus minimize-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <form asp-action="FeesAssign" method="post" class="needs-validation" novalidate="">
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="ClassId"> Class *</label>
                                            <select asp-for="ClassId" asp-items="@(new SelectList(Model.Classes,"Value","Text",Model?.ClassId))" class="form-control">
                                                <option value=""> Select </option>
                                            </select>
                                            <div class="invalid-feedback"><span asp-validation-for="ClassId"></span></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label asp-for="SectionId"> Section </label>
                                            <select asp-for="SectionId" data-ajaxurl="@Url.Action("GetClassSection","StudentAdmission")" data-key-selected="@Model?.SectionId" class="form-control">
                                                <option> Select </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group mb-0 text-right"><input type="submit" class="btn btn-success mr-3" value="Search" /></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-6">
                            <form asp-action="FeesAssign" method="post" class="needs-validation" novalidate="">
                                @Html.AntiForgeryToken()
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="Search">
                                            Search *
                                            <a href="javascript:void(0)" data-toggle="m-tooltip"
                                               data-placement="top" title="" data-original-title="Search for Form no, Name, Mobile number, Father's name, Mother's name">
                                                <i class="fa fa-info-circle"></i>
                                            </a>
                                        </label>
                                        <input type="text" asp-for="Search" class="form-control" placeholder="Search for Form no, Name, Mobile number, Father's name..." />
                                        <div class="invalid-feedback"><span asp-validation-for="Search"></span></div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group mb-0 text-right"><input type="submit" class="btn btn-success mr-3" value="Search" /></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @if (IsFindStudent)
            {
                if (IsFindFeeGroup)
                {
                    <div class="card">
                        <div class="card-body" style="">
                            <div class="table-responsive">
                                <h6>@Model.FeeGroup.Name </h6>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            for (int i = 0; i < Model.FeeGroup.FeeMaster.Count; i++)
                                            {
                                                var feetype = Model.FeeGroup.FeeType;
                                                var feemaster = Model.FeeGroup.FeeMaster;
                                                <tr>
                                                    <th scope="row">@(i + 1)</th>
                                                    <td>@($"{feetype[i]?.Name}({feetype[i]?.Code})")</td>
                                                    <td>@feemaster[i].Amount</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
                <div class="card">
                    <form id="assignform" asp-controller="FeeManagement" asp-action="AssignToStudent" asp-route-id="@Model.FeeGroup.Id" method="post">
                        @*<form id="assignform" asp-action="FeesAssign" asp-controller="FeeManagement" method="post">*@
                        @Html.AntiForgeryToken()
                        <div class="card-body" style="">
                            <div class="table-responsive">
                                <table class="table" id="assignfees_table">
                                    <thead>
                                        <tr>
                                            <th><input class="" name="assignCkAll" type="checkbox"></th>
                                            <th>Sr/Reg No</th>
                                            <th>Name</th>
                                            <th>Father's Name</th>
                                            <th>MobileNo</th>
                                            <th>Class | Section</th>
                                            <th>Mother's Name</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.StudentAdmissionList.Count; i++)
                                        {
                                            var item = Model.StudentAdmissionList[i];
                                            <tr data-key="@item.Id">
                                                <th scope="row">
                                                    <label asp-for="@Model.CbStudents[i].IsSelected">
                                                        <input class="assign-checkbox checkbox_animated" asp-for="@Model.CbStudents[i].IsSelected" type="checkbox">
                                                        <input type="hidden" asp-for="@Model.CbStudents[i].Name" />
                                                        <input type="hidden" asp-for="@Model.CbStudents[i].Id" />
                                                    </label>
                                                </th>
                                                <td>@item.Sr_RegNo</td>
                                                <td>@(item.FirstName + " " + item.LastName)</td>
                                                <td>@item.FatherName</td>
                                                <td>@item.MobileNo</td>
                                                <td>@($"{item.StudentClass?.Name} | {item.StudentSection?.NormalizedName}")</td>
                                                <td>@item.MotherName</td>
                                                <td>
                                                    @if (item.IsActive)
                                                    {<label class="badge badge-success">Active</label>}
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="form-group mb-0 text-right"><input type="submit" class="btn btn-success mr-3" value="Assign" /></div>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
</div>