@using FeePay.Core.Application.Interface;
@model IEnumerable<AllFeeSummaryViewModel>

@inject ICultureFormatProvider _cultureFormatProvider
@section Style{
}
@section Scripts{
    <script>
        (function () {
            "use strict";
            $('#feeClassListTable').DataTable({ "order": [[5, 'desc']] });
            $('#feeClassListTable').reArrangeDatatableSerialNumber();
        })(jQuery);
    </script>
}

<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"> <i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Fees Summary</li>
                    <li class="breadcrumb-item active">All Classes</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body" style="">
                    <div class="table-responsive">
                        <table class="hover" id="feeClassListTable">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th>Class </th>
                                    <th>Deposit</th>
                                    <th>Fees</th>
                                    <th>Discount</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td scope="row"></td>
                                                <td><a asp-action="FeesSummaryClass" asp-controller="FeeManagement" asp-route-id="@item.ClassId">@item.ClassName</a></td>
                                                <td>@(_cultureFormatProvider.FormatCurrencyIntoIndianCalture(item.TotalPaid))</td>
                                                <td>@(_cultureFormatProvider.FormatCurrencyIntoIndianCalture(item.TotalFees))</td>
                                                <td>@(_cultureFormatProvider.FormatCurrencyIntoIndianCalture(item.TotalDiscount))</td>
                                                <td>@(_cultureFormatProvider.FormatCurrencyIntoIndianCalture(item.TotalBalance))</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


