


<div class="sidebar-wrapper">
    <div class="logo-wrapper">
        <a href="index.html"><img class="img-fluid for-light" src="~/Cuba/images/logo/logo.png" alt=""><img class="img-fluid for-dark" src="~/Cuba/images/logo/logo_dark.png" alt=""></a>
        <div class="back-btn"><i class="fa fa-angle-left"></i></div>
        <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
    </div>
    <div class="logo-icon-wrapper"><a href="index.html"><img class="img-fluid" src="~/Cuba/images/logo/logo-icon.png" alt=""></a></div>
    <nav class="sidebar-main">
        <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
        <div id="sidebar-menu">
            <ul class="sidebar-links custom-scrollbar">
                <li class="back-btn">
                    <a href="index.html"><img class="img-fluid" src="~/Cuba/images/logo/logo-icon.png" alt=""></a>
                    <div class="mobile-back text-right"><span>Back</span><i class="fa fa-angle-right pl-2" aria-hidden="true"></i></div>
                </li>

                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title link-nav" href="@Url.Action("Index","Home")">
                        <i data-feather="home"> </i><span>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title" href="#">
                        <i data-feather="airplay"></i> <span> Fee Management </span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="@Url.Action("FeeTypeList","FeeManagement")">All Fee Type</a></li>
                        <li><a href="@Url.Action("FeeGroupList","FeeManagement")">All Fee Group</a></li>
                        <li><a href="@Url.Action("FeeMasterList","FeeManagement")">All Fee Master</a></li>
                    </ul>
                </li>
                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title" href="#">
                        <i data-feather="airplay"></i> <span> Administrative </span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="@Url.Action("StaffList","Account")">All Staff</a></li>
                        <li><a href="@Url.Action("RoleList","Account")">All Role</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
    </nav>
</div>