@using FeePay.Core.Application.Interface.Service
@inject ILoginService _loginService
@{
    var UserId = Convert.ToInt32(_loginService.GetLogedInSchoolAdminId());
}


@Html.AntiForgeryToken()
<div class="sidebar-wrapper">
    <div class="logo-wrapper">
        <a href="@Url.Action("~")"><img class="img-fluid for-light" src="~/Cuba/images/logo/logo.png" alt=""><img class="img-fluid for-dark" src="~/Cuba/images/logo/logo_dark.png" alt=""></a>
        <div class="back-btn"><i class="fa fa-angle-left"></i></div>
        <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
    </div>
    <div class="logo-icon-wrapper"><a href="@Url.Action("~")"><img class="img-fluid" src="~/Cuba/images/logo/logo-icon.png" alt=""></a></div>
    <nav class="sidebar-main">
        <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
        <div id="sidebar-menu">
            <ul class="sidebar-links custom-scrollbar">
                <li class="back-btn">
                    <a href="@Url.Action("~")"><img class="img-fluid" src="~/Cuba/images/logo/logo-icon.png" alt=""></a>
                    <div class="mobile-back text-right"><span>Back</span><i class="fa fa-angle-right pl-2" aria-hidden="true"></i></div>
                </li>

                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title link-nav" href="@Url.Action("Index","Home")">
                        <i data-feather="home"> </i><span>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                        <i data-feather="airplay"></i> <span> Fees </span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="@Url.Action("FeeTypeList","FeeManagement")">Create Fees Name</a></li>
                        <li><a href="@Url.Action("FeeGroupList","FeeManagement")">Create Fees Group</a></li>
                        <li><a href="@Url.Action("FeeMasterList","FeeManagement")">Define Group Fees</a></li>
                        <li><a href="@Url.Action("FeesSummaryAll","FeeManagement")">Fees Summary </a></li>
                        <li><a href="@Url.Action("FeeCollection","FeeManagement")">Fees Collection </a></li>
                        <li><a href="@Url.Action("FeeTransaction","FeeManagement")">Fees Transaction </a></li>
                    </ul>
                </li>
                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                        <i data-feather="airplay"></i> <span> Master </span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="@Url.Action("ClassList","Academic")">Create Class</a></li>
                        <li><a href="@Url.Action("SectionList","Academic")">Create Section</a></li>
                    </ul>
                </li>
                <li class="sidebar-list">
                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                        <i data-feather="airplay"></i> <span> Student </span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="@Url.Action("StudentAdd","StudentAdmission")">New Admission</a></li>
                        <li><a href="@Url.Action("StudentList","StudentAdmission")">Student List</a></li>
                    </ul>
                </li>
                <li class="sidebar-list">
                    <label class="badge badge-info">6 soon</label>
                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                        <i data-feather="airplay"></i> <span> Setting </span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li><a href="@Url.Action("UserProfile","Home",new { id = UserId})">Profile</a></li>
                        <li><a href="@Url.Action("StaffList","Account")">User Creation</a></li>
                        <li><a href="@Url.Action("RoleList","Account")">User Rights</a></li>
                        <li><a href="@Url.Action("SessionList","Academic")">Create New Session</a></li>
                        <li><a href="javascript:void(0)">Student Promotion</a></li>
                        <li><a href="javascript:void(0)">Upload Student</a></li>
                        <li><a href="javascript:void(0)">Send SMS</a></li>
                        <li><a href="javascript:void(0)">SMS Setting</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
    </nav>
</div>