@model IEnumerable<StudentAdmissionViewModel>
@{
    var random = new Random();
    var ColorList = new List<string> { "primary", "secondary", "success", "info", "dark", "light", "danger", "warning" };
}

@section Style{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Cuba/css/vendors/datatables.css")">
}
@section Scripts{
    <script src="@Url.Content("~/Cuba/js/datatable/datatables/jquery.dataTables.min.js")"></script>
    <script>
        (function () {
            "use strict";
            $('#studentListTable').DataTable({ "order": [[8, 'desc']] });
            $('#studentListTable').reArrangeDatatableSerialNumber();
        })(jQuery);
    </script>
}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"> <i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header b-r-info b-l-info border-3">
                    <h5>
                        <a asp-action="StudentAdd" asp-controller="StudentAdmission">
                            <i class="fa fa-plus"></i> New Admission
                        </a>
                    </h5>
                    <div class="card-header-right">
                        <ul class="list-unstyled card-option">
                            <li><i class="fa fa-spin fa-cog"></i></li>
                            <li><i class="icofont icofont-maximize full-card"></i></li>
                            <li><i class="icofont icofont-minus minimize-card"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="card-body" style="">
                    <div class="table-responsive">
                        <table class="hover" id="studentListTable" data-type="datatable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Sr/Reg No</th>
                                    <th>Name</th>
                                    <th>Father's Name</th>
                                    <th>MobileNo</th>
                                    <th>Class | Section</th>
                                    <th>Status</th>
                                    <th>Modify By</th>
                                    <th>Modify date</th>
                                    <th>No Dues</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            var color = ColorList.OrderBy(s => random.NextDouble()).First();
                                            <tr data-key="@item.Id">
                                                <th scope="row"></th>
                                                <td>@item.Sr_RegNo</td>
                                                <td>@(item.FirstName + " " + item.LastName)</td>
                                                <td>@item.FatherName</td>
                                                <td>@item.MobileNo</td>
                                                <td>@($"{item.StudentClass?.Name} | {item.StudentSection?.NormalizedName}")</td>
                                                <td>
                                                    @if (item.IsActive)
                                                    {<label class="badge badge-success">Active</label>}
                                                </td>
                                                <td><a href="@Url.Action("StaffManage","Account",new { id = item.ModifyById })" class="btn btn-@(color) btn-xs">@item.ModifyBy</a></td>
                                                <td>@item.ModifyDate?.ToString("dd/MM/yyyy")</td>
                                                <td><label class="badge badge-success">soon</label></td>
                                                <td>
                                                    <div style="width:130px">
                                                        <a asp-action="StudentEdit" asp-controller="StudentAdmission" asp-route-id="@item.Id" data-container="body" data-toggle="popover" data-placement="top" title="Edit Student" class="d-inline-block mr-1">
                                                            <i data-feather="edit-3"></i>
                                                        </a>
                                                        <a asp-action="StudentProfile" asp-controller="StudentAdmission" asp-route-id="@item.Id" data-container="body" data-toggle="popover" data-placement="top" title="View Student" class="d-inline-block mr-1">
                                                            <i data-feather="user"></i>
                                                        </a>
                                                        <a href="javascript:void(0)" data-ajaxurl="@Url.Action("GetUserPassword","StudentAdmission",new { id = item.Id })" data-onclilck="showPassword" data-container="body" data-toggle="popover" data-placement="top" title="See Password" class="d-inline-block mr-1">
                                                            <i data-feather="unlock"></i>
                                                        </a>
                                                        <a data-action="deleterow" data-actionmag="Class" asp-action="StudentDelete" asp-controller="StudentAdmission" asp-route-id="@item.Id" data-container="body" data-toggle="popover" data-placement="top" title="Delete Student" class="d-inline-block">
                                                            <i data-feather="trash-2"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Models{
    @{ await Html.RenderPartialAsync("_Partial_ShowUserNamePassword"); }
}
