@model RoleViewModel
@{
    var controllers = (IEnumerable<MvcControllerInfo>)ViewData["Controllers"];

}
@section Style{
    <link href="@Url.Content("~/lib/Tree-Generator-jQuery-Bonsai/jquery.bonsai.css")" rel="stylesheet" />
    <style>
        #tree input[type=checkbox] + label {
            display: inline-block;
            margin: 0.1em;
            cursor: pointer;
            padding: 0.3em 0.2em;
        }

        #tree input[type=checkbox] {
            display: none;
        }

            #tree input[type=checkbox] + label:before {
                content: "\2714";
                border: 0.1em solid #000;
                border-radius: 0.2em;
                display: inline-block;
                width: 1.4em;
                height: 1.4em;
                padding-left: 0.2em;
                padding-bottom: 0.2em;
                margin-right: 0.5em;
                vertical-align: bottom;
                color: transparent;
                transition: .1s;
                line-height: 1.3em;
            }

            #tree input[type=checkbox] + label:active:before {
                transform: scale(0);
            }

            #tree input[type=checkbox]:checked + label:before {
                background-color: MediumSeaGreen;
                border-color: MediumSeaGreen;
                color: #fff;
            }

            #tree input[type=checkbox]:disabled + label:before {
                transform: scale(1);
                border-color: #aaa;
            }

            #tree input[type=checkbox]:checked:disabled + label:before {
                transform: scale(1);
                background-color: #bfb;
                border-color: #bfb;
            }

        #tree.bonsai > li {
            padding-left: 2.3em;
        }

        #tree li .thumb {
            height: 32px;
            width: 32px;
            left: 1em;
        }

        #tree li.has-children > .thumb:after {
            padding: 0.5em 0.5em 0em 0.5em;
            height: 100%;
            display: block;
        }
    </style>
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="@Url.Content("~/lib/Tree-Generator-jQuery-Bonsai/jquery.bonsai.js")"></script>
    <script src="@Url.Content("~/lib/Tree-Generator-jQuery-Bonsai/jquery.qubit.js")"></script>
    <script>
        $(function () {
            'use strict';
            $('#tree').bonsai({
                expandAll: false,
                checkboxes: true,
                createInputs: 'checkbox'
            });
            $('#tree li[data-isselected="True"] input[type="checkbox"]')
                .each(function (i, v) {
                    $(v).prop("checked", true);
                });
            $('#tree li[data-isdisabled="True"] input[type="checkbox"]')
                .each(function (i, v) {
                    //#tree li[data-isdisabled="True"] input[type="checkbox"]
                    $(v).prop("disabled", true);
                    //$(v).hide();
                    $(v).closest('li').css({ 'color': '#ccc', 'display': 'none' });
                });

            $('form').submit(function () {
                var i = 0, j = 0;
                $('.controller > input[type="checkbox"]:checked, .controller > input[type="checkbox"]:indeterminate').each(function () {
                    var controller = $(this);
                    if ($(controller).prop('indeterminate')) {
                        $(controller).prop("checked", true);
                    }
                    var controllerName = 'SelectedControllers[' + i + ']';
                    $(controller).prop('name', controllerName + '.Name');
                    if ($(controller).prop('disabled')) {
                        $(controller).before($("<input/>", { type: "hidden", name: controllerName + '.Name', value: $(controller).val() }));
                    }

                    var area = $(controller).next().next();
                    $(area).prop('name', controllerName + '.AreaName');
                    $('ul > li > input[type="checkbox"]:checked', $(controller).parent()).each(function () {
                        var action = $(this);
                        var actionName = controllerName + '.Actions[' + j + '].Name';
                        $(action).prop('name', actionName);

                        if ($(action).prop('disabled')) {
                            $(action).before($("<input/>", { type: "hidden", name: actionName, value: $(action).val() }));
                        }
                        j++;
                    });
                    j = 0;
                    i++;
                });
                return true;
            });
        });
    </script>
}

<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>@ViewData["Title"]</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"> <i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Administration</li>
                    <li class="breadcrumb-item"><a href="@Url.Action("RoleList","Account")"> Roles </a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <form id="managerole" asp-action="RoleManage" asp-controller="Account" method="post" class="needs-validation" novalidate="">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header b-r-info b-l-info border-3">
                        <h5>
                            <a asp-action="RoleList" asp-controller="Account">
                                <i class="icofont icofont-arrow-left"></i> Back To List
                            </a>
                        </h5>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa-spin fa-cog"></i></li>
                                <li><i class="icofont icofont-maximize full-card"></i></li>
                                <li><i class="icofont icofont-minus minimize-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <input asp-for="Id" type="hidden" />
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="Name">Role Name *</label>
                                    <input asp-for="Name" class="form-control" type="text" placeholder="Role name">
                                    <div class="invalid-feedback" asp-validation-for="Name"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label asp-for="IsActive">
                                        <input class="checkbox_animated" asp-for="IsActive" type="checkbox"> Active
                                    </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Assign Users</label>
                            <ul class="list-group">
                                @{
                                    if (Model != null && Model.UserList != null && Model.UserList.Count > 0)
                                    {
                                        for (int i = 0; i < Model.UserList.Count; i++)
                                        {
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                @Model.UserList[i].Name
                                                <span class="text-right">
                                                    <label asp-for="@Model.UserList[i].IsSelected">
                                                        <input class="checkbox_animated"
                                                               asp-for="@Model.UserList[i].IsSelected"
                                                               type="checkbox">
                                                        <input type="hidden" asp-for="@Model.UserList[i].Name" />
                                                        <input type="hidden" asp-for="@Model.UserList[i].Id" />
                                                    </label>
                                                </span>
                                            </li>

                                        }
                                    }
                                    else
                                    {
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            No User Assign To Role
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Access List</label>
                            <div class="col-md-9">
                                <ol id="tree">
                                    @foreach (var controller in controllers)
                                    {
                                        string name;
                                        {
                                            name = controller.DisplayName ?? controller.Name;
                                        }
                                        <li class="controller"
                                            data-value="@controller.Name"
                                            data-isselected="@controller.IsSelected"
                                            data-isdisabled="@controller.IsDisabled">
                                            <input type="hidden" class="area" value="@controller.AreaName" />
                                            @name
                                            @if (controller.Actions.Any())
                                            {
                                                <ul>
                                                    @foreach (var action in controller.Actions)
                                                    {
                                                        {
                                                            name = action.DisplayName ?? action.Name;
                                                        }
                                                        <li data-value="@action.Name"
                                                            data-isselected="@action.IsSelected"
                                                            data-isdisabled="@action.IsDisabled">
                                                            @name
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        </li>
                                    }
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="form-group mb-0 text-right"><input type="submit" class="btn btn-success mr-3" value="Add" /></div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <div id="form-validation-summary" class="my-2 txt-danger" style="font-size: 12px;line-height: 1;letter-spacing: 0.9px;" asp-validation-summary="All"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
